# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log

# Latex Garbage
*.aux
*.bbl
*.bcf
*.blg
*.log
*.pdf
*.run.xml
*.fbd_latexmk
*.fls
*.synctex.gz